@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-800;
    @apply text-blue-300;
  }
  h1 {
    @apply text-xl;
  }
  #container {
    display: flex;
    justify-content: center;
    align-items: center;
    @apply text-sm;
  }
  .tiny {
    font-size: 0.7rem;
  }
  .half {
    flex: 1
  }
}
